<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= page %></h1>
    
	<!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>
<!--<p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme.
	The charts below have been customized - for further customization options, please visit the <a
		target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js
		documentation</a>.</p>-->
