


	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div id="apartments_list"></div>
		</div>
		<div class="col-lg-8">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Split Buttons with Icon</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="dataTable" class="table table-striped table-bordered" style="width:100%"></table>
						<div id="dataTablePagger"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--<div class="row">

		<div class="col-sm-6">
		<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= page %><br>
						<strong>username</strong>: <%= page %><br>
						<strong>password</strong>: <%= page %>
					</p>

			</div>
			<div class="lightboxed"></div>

		</div>

	</div>-->

