<div class="text-center">
	<div class="error mx-auto" data-text="<%=num;%>"><%=num;%></div>
	<p class="lead text-gray-800 mb-5"><%=message;%></p>
	<p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
	<a href="/home">&larr; Back to Home Page</a>
</div>

